<style type="text/css">
  th.bordered,td.bordered{height: 30px;border: 1px solid;text-align: center;vertical-align: middle;}
  table#features tr th{background-color: #f0f0f0;width: 30%;}
  #features{width: 90%;}
</style>


<div class="feature_flag">

  <div class="page-header left">
      <h3 class="left">Features Flags <small><i> &nbsp; Checked services types will be available to the user<i></small></h3>
  </div>

</div>
<%= link_to "Add new Feature", new_feature_flag_path ,:style=>"float:right" %>

<div class="feature_flag">
    <center>
      <table id="features">
          <thead>
            <tr>          
                <th colspan=4 class="bordered headerTop">Name</th>      
                <th colspan=2 class="bordered headerTop">Status</th>
                <th colspan=4 class="bordered headerTop">Action</th>
            </tr>        
          </thead>
          <%if @features.any?%>
            <tbody>
              <% @features.each do |feature| %>
                <tr>              
                  <td colspan=4 class="bordered"> <%= feature.name %> </td> 
                  <td colspan=2 class="bordered"><%= feature.status? ? "Enabled" : "Disabled" %>
                  <td colspan=4 class="bordered">

                    <%= form_for feature, :url => feature_flag_url(feature), :method => :put, :html => {:class => "feature-flag-form",:style => "display: inline-block"} do |f| %>  
                      <%= f.hidden_field :status,:value=> !feature.status %> 
                      <%= f.submit (feature.status? ? "Disable" : "Enable")%>
                    <% end  %> 
         
                    <%= link_to 'delete', feature_flag_path(feature), :method => :delete, :confirm => 'are you sure?' %>

                  </td>      
                </tr>           
              <% end %>
            </tbody>
          <% end %>
      </table>
    </center>
</div>

