<style>
  .field{margin-top: 10px;}
  .feature-div{padding-top: 100px;padding-left: 30%}
  .errors{color: red;}
</style>


<div class="feature-div">

    <%= form_for @feature, :url => feature_flags_path, :method => :post, :html => {:class => "feature-flag-form"} do |f| %>  
    <div class ="field">
      <label>Name : </label> <br/>
      <%= f.text_field :name %>
      <div class ="errors">
        <% if @feature.errors.any?  %>
          <% @feature.errors.full_messages.each do |error| %>
            <%= error %>
          <% end %>
        <% end %>
      </div>

    </div>
    <div class ="field">
      <label>Status : </label>&nbsp;&nbsp;
      <%= f.check_box :status %><label>Enabled </label> <br/>
    </div>
    <div class ="field">
      <%= f.submit "Submit" %>
    </div>
    <% end  %> 

</div>